apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "cert-manager-csi-driver.name" . }}
  labels:
{{ include "cert-manager-csi-driver.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ include "cert-manager-csi-driver.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "cert-manager-csi-driver.name" . }}
    spec:
      serviceAccountName: {{ include "cert-manager-csi-driver.name" . }}
      containers:

        - name: node-driver-registrar
          image: quay.io/k8scsi/csi-node-driver-registrar:v2.1.0
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "rm -rf /registration/cert-manager-csi-driver /registration/cert-manager-csi-driver-reg.sock"]
          args:
            - -v={{ .Values.app.logLevel }}
            - --csi-address=/plugin/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/cert-manager-csi-driver/csi.sock
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: plugin-dir
              mountPath: /plugin
            - name: registration-dir
              mountPath: /registration

        - name: cert-manager-csi-driver
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
            allowPrivilegeEscalation: true
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args :
            - --log-level={{ .Values.app.logLevel }}
            - --driver-name={{ .Values.app.driver.name }}
            - --node-id=$(NODE_ID)
            - --endpoint=$(CSI_ENDPOINT)
            - --data-root=csi-data-dir
            - --use-token-request={{ .Values.app.driver.useTokenRequest }}
          env:
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CSI_ENDPOINT
              value: unix://plugin/csi.sock
          volumeMounts:
            - name: plugin-dir
              mountPath: /plugin
            - name: pods-mount-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: "Bidirectional"
            - name: csi-data-dir
              mountPath: /csi-data-dir
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      volumes:
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins/cert-manager-csi-driver
            type: DirectoryOrCreate
        - name: pods-mount-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: Directory
        - hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
          name: registration-dir
        - hostPath:
            path: /tmp/cert-manager-csi-driver
            type: DirectoryOrCreate
          name: csi-data-dir
